<%- include('partials/header') %> <%- include('partials/navbar') %>

<div
  class="page-hero-section bg-image hero-home-1"
  style="background-image: url(/assets/img/bg_hero_1.svg)"
>
  <div class="hero-caption pt-5">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
          <h1 class="mb-4">The easiest way to create your class online</h1>
          <p class="mb-4">
            Leverage streamlined methods to deliver content<br />
            that resonates with your students
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill center-large text-uppercase"
            >Create class</a
          >
        </div>
        <div class="col-md-6 d-none d-lg-block wow zoomIn">
          <div class="img-place floating-animate">
            <img src="/assets/img/intro-img.svg" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="position-realive bg-image"
  style="background-image: url(/assets/img/pattern_1.svg)"
>
  <div class="page-section">
    <div class="container">
      <h2 class="text-center wow fadeIn">
        Akilli is an all-in-one platform where you can <strong>create</strong>,
        host and <strong>manage</strong> your online classes at no cost
      </h2>
      <div class="row">
        <div class="col-lg-5 py-3">
          <div class="img-place zoomIn">
            <img class="img-fluid" src="/assets/img/banner-img.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6 py-3 mt-lg-5">
          <div class="iconic-list">
            <div class="iconic-item wow fadeInUp">
              <div
                class="iconic-md iconic-text bg-warning fg-white rounded-circle"
              >
                <span class="mai-cube"></span>
              </div>
              <div class="iconic-content">
                <h5>Easy-to-use features</h5>
                <p class="fs-small">
                  Create lessons easily with tools designed to make your lessons
                  look professional
                </p>
              </div>
            </div>
            <div class="iconic-item wow fadeInUp">
              <div
                class="iconic-md iconic-text bg-info fg-white rounded-circle"
              >
                <span class="mai-shield"></span>
              </div>
              <div class="iconic-content">
                <h5>Live classes</h5>
                <p class="fs-small">
                  Communicate with your students in real-time with our inbuilt
                  video-conferencing tool designed to give your students the
                  best experience
                </p>
              </div>
            </div>
            <div class="iconic-item wow fadeInUp">
              <div
                class="iconic-md iconic-text bg-indigo fg-white rounded-circle"
              >
                <span class="mai-desktop-outline"></span>
              </div>
              <div class="iconic-content">
                <h5>Easy Monitoring</h5>
                <p class="fs-small">
                  Monitor the progress of your students and get to see their
                  improvements
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1 py-3 mt-lg-5 wow fadeInUp">
          <h1 class="mb-4">Getting started is simple</h1>
          <ol>
            <li class="mb-4">Sign up <a href="signup  ">here</a> </li>
            <li class="mb-4">Create a class(free or paid)</li>
            <li class="mb-4">Structure lessons according to choice</li>
            <li class="mb-4">Hit publish</li>
          </ol>
          <a href="/about" class="btn btn-outline-primary rounded-pill"
            >How it works</a
          >
        </div>
        <div class="col-lg-5 py-3">
          <div class="img-place mobile-preview shadow wow zoomIn">
            <img class="width-increase" src="/assets/img/undraw_conference_uo36.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <h1 class="text-center">The many graces of using Akilli</h1>

    <div class="row justify-content-center mt-5">
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/rocket.svg" alt="" />
          </div>
          <p class="fs-large">Very Fast</p>
          <p class="fs-small fg-grey">
            Speed of organizing and creating content for each class is
            breathtaking
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
          data-wow-delay="200ms"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/testimony.svg" alt="" />
          </div>
          <p class="fs-large">Happy Students</p>
          <p class="fs-small fg-grey">
            Akilli provides the best learning environment for students
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
          data-wow-delay="400ms"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/promotion.svg" alt="" />
          </div>
          <p class="fs-large">No Ads</p>
          <p class="fs-small fg-grey">We wont bug you with annoying ads</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
          data-wow-delay="600ms"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/coins.svg" alt="" />
          </div>
          <p class="fs-large">Save Money</p>
          <p class="fs-small fg-grey">
            There is no upfront charge to the tutor using akilli
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
          data-wow-delay="800ms"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/support.svg" alt="" />
          </div>
          <p class="fs-large">24/7 Support</p>
          <p class="fs-small fg-grey">
            Our team are always ready to get in touch with you whenever you need
            it
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div
          class="card card-body border-0 bg-transparent text-center wow zoomIn"
          data-wow-delay="1000ms"
        >
          <div class="mb-3">
            <img src="/assets/img/icons/laptop.svg" alt="" />
          </div>
          <p class="fs-large">Full Features</p>
          <p class="fs-small fg-grey">
            Use techniques that resonate with your students e.g peer to peer,
            VARK, Flipped Technique. You have access to everything
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-section bg-image" style="background-image: url(../assets/img/pattern_2.svg);">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0 wow fadeInUp">
          <h1 class="mb-4">Pricing Plan</h1>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores inventore maxime ipsa eligendi quibusdam velit maiores adipisci odit, exercitationem cumque iusto at debitis reiciendis a, ipsum aliquam reprehenderit. Sed, delectus.</p>
          <a href="#" class="btn btn-gradient btn-split-icon rounded-pill">
            <span class="icon mai-call-outline"></span> Custom Plan
          </a>
        </div>
        <div class="col-lg-7">
          <div class="pricing-table">
            <div class="pricing-item active wow zoomIn">
              <div class="pricing-header">
                <h5>Business Plan</h5>
                <h1 class="fw-normal">$49.00</h1>
              </div>
              <div class="pricing-body">
                <ul class="theme-list">
                  <li class="list-item">Push Notification</li>
                  <li class="list-item">Unlimited Bandwith</li>
                  <li class="list-item">Realtime Database</li>
                  <li class="list-item">Monthly Backup</li>
                  <li class="list-item">24/7 Support</li>
                </ul>
              </div>
              <button class="btn btn-dark">Choose Plan</button>
            </div>
            <div class="pricing-item wow zoomIn" data-wow-delay="200ms">
              <div class="pricing-header">
                <h5>Starter Plan</h5>
                <h1 class="fw-normal">$24.00</h1>
              </div>
              <div class="pricing-body">
                <ul class="theme-list">
                  <li class="list-item">Push Notification</li>
                  <li class="list-item">Unlimited Bandwith</li>
                  <li class="list-item">Realtime Database</li>
                  <li class="list-item">Monthly Backup</li>
                  <li class="list-item">24/7 Support</li>
                </ul>
              </div>
              <button class="btn btn-dark">Choose Plan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- <div class="page-section bg-image bg-image-overlay-dark" style="background-image: url(../assets/img/bg_testimonials.jpg);">
    <div class="container fg-white">
      <div class="row">
        <div class="col-md-8 col-lg-6 offset-lg-1 wow fadeInUp">
          <h2 class="mb-5 fg-white fw-normal">Customer Stories</h2>
          <p class="fs-large font-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia voluptates facere explicabo! Rerum necessitatibus cum qui veritatis reprehenderit, neque sapiente consequatur atque eaque molestias, est, quod totam quo laudantium ratione.</p>
          <p class="fs-large fg-grey fw-medium mb-5">John Doe, UI Designer</p>
  
          <a href="#" class="btn btn-outline-light rounded-pill">Read Stories <span class="mai-chevron-forward"></span></a>
        </div>
      </div>
    </div>
  </div> -->

<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">Ready to create your own class?</h3>
        <p class="cta-text">Give your students the best experience yet!</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle te" href="/class-info">Create class</a>
      </div>
    </div>
  </div>
</section>

<!-- <div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 py-3 mb-5 mb-lg-0">
        <div class="img-place w-lg-75 wow zoomIn">
          <img src="/assets/img/illustration_contact.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-5 py-3">
        <h1 class="wow fadeInUp">
          Need help? <br />
          Don't worry just contact us
        </h1>

        <form method="POST" action="/contact" class="mt-5">
          <div class="form-group wow fadeInUp">
            <label for="name" class="fw-medium fg-grey">Fullname</label>
            <input type="text" class="form-control" id="name" name="name"/>
          </div>

          <div class="form-group wow fadeInUp">
            <label for="email" class="fw-medium fg-grey">Email</label>
            <input type="text" class="form-control" id="email" name="email"/>
          </div>

          <div class="form-group wow fadeInUp">
            <label for="message" class="fw-medium fg-grey">Message</label>
            <textarea rows="6" class="form-control" id="message" name="message"></textarea>
          </div>
          <div class="g-recaptcha" data-sitekey="6LdhFTIaAAAAAAqjgHlEWcMBXlHQHbFrsdfaQy2c"></div><br>
          <div class="form-group mt-4 wow fadeInUp">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<%- include('partials/footer') %> 