body{
    background-color: #e8e8e8;
}

.tab-item{
    margin-left: 40px;
}

.icon-class{
    float: right;
    padding-top: 3px;
}

.hide-class{
    display: none;
}

.label-size{
    font-size: 14px;
    font-weight: 500;
}

.lesson-video-src{
    width: 100%;
}

.video-input{
    width: 100%;
  border: 1px dotted;
  padding: 20px;
  align-items: center;
}

.upload-button{
    display: block;
    width: 100%;
}

.lesson-editor{
    font-size: 25px;
   
}

.added-lesson{
    position: relative;;
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px;
    box-shadow: 2px 2px #cccccc;
}

.angle-icon{
    float: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}



/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    /* position: fixed; */
    height: 300px;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #3d58f3;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    margin-top: -300px;
    padding: 1px 16px;

  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0; margin-top: 10px;}
    .lesson-editor{
      font-size: 15px;
     
  }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }